.center {
    text-align: center;
}

.marginTop {
    margin-top: 40%;
}

main {
    padding: 80px 0px;
}

.images-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.img-container {
    text-align: center;
    margin: 4px;
    padding: 10px;
}

.image-container {
    position: relative;
}

@media screen and (max-width:400px) {
    main {
        padding: 0px, 0px;
    }

    .images-container {
        grid-template-columns: auto auto;
    }

    .img-container {
        text-align: center;
        margin: 8px;
        padding: 8px;
    }
}

@media screen and (max-width:300px) {
    main {
        padding: 8px, 0px;
    }

    .images-container {
        grid-template-columns: auto;
    }

    .img-container {
        text-align: center;
        margin: 8px;
        padding: 8px;
    }
}