.mt {
    margin-top: 10%;
}

.center {
    text-align: center;
}

.marginTop {
    margin-top: 40%;
}

.py {
    padding: 30%;
}

main {
    padding: 80px 0px;
}

.togglePosition {
    position: absolute ;
    text-align: center;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-blink {
    animation: blink 3s;
    animation-iteration-count: initial;
}

.toggle {
    width: 1000px;
    height: 2px;
    background: #000000;
    display: none;
    text-align: center;
}


.images-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.img-container {
    text-align: center;
    margin: 4px;
    padding:10px;
}

.image-container {
    position: relative;

}

@media screen and (max-width:400px) {
    main {
        padding: 0px ,0px;
    }

    .images-container {
        grid-template-columns: auto auto;
    }

    .img-container {
        text-align: center;
        margin: 2px;
        padding:2px;
    }
}

@media screen and (max-width:300px) {
    main {
        padding: 0px ,0px;
    }
    
    .images-container {
        grid-template-columns: auto;
    }

    .img-container {
        text-align: center;
        margin: 2px;
        padding:2px;
    }
    
}