ul {
    text-align: center;
}

main {
    margin-left:4px;
}

input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.simple-keyboard {
    max-width: 650px;
    text-align: center;
    margin-left: 4px;
}

@media screen and (max-width:400px) {
    input {
        padding: 0%;
    }

    .simple-keyboard {
        text-align: center;
    }
}

@media screen and (max-width:300px) {
    input {
        padding: 0%;
    }

    .simple-keyboard {
        text-align: center;
    }
}

.keyboard {
    margin-left: 28%;

}

@media screen and (max-width:700px) {

    .keyboard {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}