@media screen and (max-width:400px) {

    .simple-keyboard {
        text-align: center;
    }
}

@media screen and (max-width:300px) {

    .simple-keyboard {
        text-align: center;
        padding: 0%;
    }
}

.keyboard {
    margin-left: 0%;

}

@media screen and (max-width:700px) {

    .keyboard {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}