<div class="keyboard mt-5">

    <div class="section-a">

        <div class="key shift left">
            a
        </div>
        <div class="key shift left">
            at
        </div>
        <div class="key shift left">
            can
        </div>

        <div class="key shift left">
            have
        </div>
        <div class="key shift left">
            I
        </div>
        <div class="key shift left">
            like
        </div>
        <div class="key shift left">
            of
        </div>
        <div class="key shift left">
            please
        </div>

        <div class="key shift left">
            that
        </div>
        <div class="key shift left">
            they
        </div>
        <div class="key shift left">
            was
        </div>
        <div class="key shift left">
            we
        </div>

        <div class="key shift left">
            about
        </div>
        <div class="key shift left">
            are
        </div>
        <div class="key shift left">
            do
        </div>

        <div class="key shift left">
            he
        </div>
        <div class="key shift left">
            in
        </div>
        <div class="key shift left">
            me
        </div>
        <div class="key shift left">
            off
        </div>
        <div class="key shift left">
            said
        </div>

        <div class="key shift left">
            the
        </div>
        <div class="key shift left">
            this
        </div>
        <div class="key shift left">
            want
        </div>
        <div class="key shift left">
            were
        </div>
        <div class="key shift left">
            all
        </div>
        <div class="key shift left">
            be
        </div>
        <div class="key shift left">
            every
        </div>
        <div class="key shift left">
            had
        </div>
        <div class="key shift left">
            is
        </div>
        <div class="key shift left">
            my
        </div>
        <div class="key shift left">
            on
        </div>
        <div class="key shift left">
            she
        </div>
        <div class="key shift left">
            their
        </div>
        <div class="key shift left">
            to
        </div>
        <div class="key shift left">
            will
        </div>
        <div class="key shift left">
            you
        </div>
        <div class="key shift left">
            an
        </div>
        <div class="key shift left">
            but
        </div>
        <div class="key shift left">
            for
        </div>
        <div class="key shift left">
            help
        </div>
        <div class="key shift left">
            it
        </div>
        <div class="key shift left">
            only
        </div>
        <div class="key shift left">
            some
        </div>
        <div class="key shift left">
            them
        </div>
        <div class="key shift left">
            us
        </div>

        <div class="key shift left">
            with
        </div>
        <div class="key shift left">
            your
        </div>
        <div class="key shift left">
            and
        </div>
        <div class="key shift left">
            by
        </div>
        <div class="key shift left">
            feel
        </div>
        <div class="key shift left">
            his
        </div>
        <div class="key shift left">
            know
        </div>
        <div class="key shift left">
            not
        </div>
        <div class="key shift left">
            or
        </div>
        <div class="key shift left">
            thanks
        </div>
        <div class="key shift left">
            think
        </div>
        <div class="key shift left">
            up
        </div>
        <div class="key shift left yes">
            YES
        </div>
        <div class="key shift left no">
            NO
        </div>
    </div><!-- end section-a-->

</div>