<nav class="shadow p-3 mb-5 bg-white navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <img [src]="parrot" alt="logo parrot" />
    <a class="navbar-brand logoFont">Rasp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="bottom-bar fixed-bottom p-2 d-sm-none d-grid shadow">
        <div>
            <a routerLink="/" class="nav-link-style" [class.active-nav-link-bottom]="isAtHomePage">
                <i class="fas fa-home iconColor fa-lg"></i>
            </a>
        </div>

        <div>
            <a routerLink="/keyboardpage" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
                <i class="fas fa-keyboard iconColor fa-lg"></i>
            </a>
        </div>

        <div>
            <a routerLink="/phrasespage" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
                <i class="fas fa-quote-right iconColor fa-lg"></i>
            </a>
        </div>
        <div>
            <a routerLink="/speak" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
                <i class="fas fa-microphone iconColor fa-lg"></i>
            </a>
        </div>
    </div>
</nav>