<nav>
  <app-nav-bar></app-nav-bar>
</nav>
<main class="container">
  <div class="images-container">
    <!-- <div><app-user-profile></app-user-profile></div> -->
    <div *ngFor="let item of result" class="img-container m-1">
      <div class="card mb-2 shadow-sm p-3 bg-white rounded">
        <div class="card-img-top">
          <!-- <img class="card-img-top item-img w-100 h-100" [src]="item.src" alt="Picture"> -->
          <img class="item-img w-100 h-100 p-1" [src]="item.imageUrl" alt="Picture">
        </div>
        <div class="card-header">
          <div class="d-flex align-items-center my-2" *ngIf="item">
            <div>
              <app-user-profile></app-user-profile>
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="d-flex">
            <p class="text-justify">
              <span class="text-secondary">{{ item.timeDateCreated| date:'mediumDate' }}</span>
              {{item.description}}
            </p>

          </div>
        </div>
        <div class="card-footer text-muted">
          <span>{{item.timeDateCreated | timeAgo}}</span>
          <ng-container *ngIf="item.price">
            <div class="float-right">
              <h4>R {{item.price}}</h4>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</main>