::selection{background-color:none; color:inherit;}

.middle-section{
  width:800px; height: 320px;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: rgb(92, 89, 89);
}

.left-section {
  width:800px; height: 320px;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: rgb(92, 89, 89);
}
.section-a{width:650px; height:260px; float:left;}
.section-b{width:150px; height:260px; float:left;}
